{% extends 'alert/base.html' %}
{% load tweelp_filter %}
{% load static %}

{% block title %}Scheduler{% endblock %}

{% block custom_style %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet">

<style>
  #result { word-wrap: break-word; }
  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>

{% endblock %}

{% block body %}

<ul class="breadcrumb">
<li class="breadcrumb-item section-title"><a href="{% url 'alert:index' %}">TWEELP</a></li>
<li class="breadcrumb-item section-title active">SCHEDULER</li>
</ul>

<div class="container">

    <div class="row mb-4">

		<div class="col-md-6 ">
				<div class="card bg-light shadow  mt-4 p-3">
					<div class="card-body">
						<h5 class="card-title" style="font-family:'Montserrat'">{{ userprofile.user.username|title }},</h5>
						{% if userprofile.crawled_links %}
						<p class="card-text">you have searched for <span class="text-primary" style="font-family:'Montserrat'">{{ userprofile.crawled_links }}</span> links keywords till now.</p>
						{% else %}
						<p class="card-text">you haven't <span class="text-primary" style="font-family:'Montserrat'">searched </span> any links yet.</p>
						{% endif %}
						<p class="card-text"><small class="text-muted">with <span class="text-primary" style="font-family:'Montserrat'">{{ userprofile.time_spent_working }}</span> hours spent working.</small></p>
					  </div>
				  </div>
			</div>


	</div>


    <div class="row mt-2">
        <div class="col-9">
			{% csrf_token %}
            <select  id="slim-select" multiple name="filters" required>

				{% for link in scraped_links %}
              		<option value="{{ link }}">{{ link }}</option>
				{% endfor %}

            </select>

        </div>

    </div>


	<div class="row mt-4">

		<div id="hidden-links">
			<input type="hidden" value="" id="scrape_link">
			<input type="hidden" value="" id="rescrape_link">
		</div>

		<div class="col-6">
			<label for="old" class="head-title">Old data</label>
			<div class="input-group">
			  <textarea class="form-control" aria-label="With textarea" id="old" rows="10"> </textarea>
			</div>

		</div>


		<div class="col-6">
			<label for="new" class="head-title">New data</label>
			<div class="input-group">
			  <textarea class="form-control" aria-label="With textarea" id="new" rows="10"></textarea>
			</div>
		</div>




	</div>

	<div class="row mt-3">
		<pre id="display"></pre>
	</div>

	<div class="row mt-3">
		<button class="btn btn-dark btn-sm mr-4" id="send_alert" >Resend Alert</button>
	</div>


</div>

{% endblock %}


{% block script %}

<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/app.min.js' %}" type="59f984106ec2e39727363fa8-text/javascript"></script>
<script src="{% static 'plugins/chart.js/dist/Chart.min.js' %}" ></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/4.0.2/diff.js"></script>



<script>

$('#send_alert').click(function(){
			 $('#alert_toast').toast('show');

			 var keyword = $('.nav-tabs .active').attr('data-keyword');
			 console.log(keyword);

			 var alert = "true"

			 $.ajax({
            url: "/update-notifications/",
            type: "POST",
            data: { 'status' : true, "csrfmiddlewaretoken" : $("input[name=csrfmiddlewaretoken]").val(), 'keyword' : keyword, 'alert': alert },
            success: function(response){
					$('#unread-update').html(response);
            }

        });


         $.ajax({
            url: "/send-alert/",
            type: "POST",
            data: { 'status' : 1, "csrfmiddlewaretoken" : $("input[name=csrfmiddlewaretoken]").val()},
            success: function(response){
					console.log("message sent")
            }

        });

});




$('#notification-read').click(function(){
	$.ajax({
            url: "/read/",
            type: "POST",
            data: { 'status' : true, "csrfmiddlewaretoken" : $("input[name=csrfmiddlewaretoken]").val()},
            success: function(response){
					$('#unread-update').html(response);
            }

        });

        $.ajax({
            url: "/update-notifications-base/",
            type: "POST",
            data: { 'status' : true, "csrfmiddlewaretoken" : $("input[name=csrfmiddlewaretoken]").val()},
            success: function(response){
					$('#notification_area').html(response);
            }

        });

});

$(function() {

var select = new SlimSelect({
  select: '#slim-select'
})


$('#slim-select').change(function() {
	if($(this).val().length==0){
		$('#old').val('');
		$('#new').val('');
	}

		$.ajax({
            url: "/scheduler/search-link/",
            type: "POST",
            data: { 'data' : $(this).val().toString(), "csrfmiddlewaretoken" : $("input[name=csrfmiddlewaretoken]").val()},
            success: function(response){
				$('#hidden-links').html(response);
				$('#old').val($('#scrape_link').val());
				$('#new').val($('#rescrape_link').val());

				var one = $('#scrape_link').val(),
				other = $('#rescrape_link').val(),
				color = '',
				span = null;

			var diff = Diff.diffChars(one, other),
				display = document.getElementById('display'),
				fragment = document.createDocumentFragment();

			diff.forEach(function(part){
			  // green for additions, red for deletions
			  // grey for common parts
			  color = part.added ? 'green' :
				part.removed ? 'red' : 'grey';
			  span = document.createElement('span');
			  span.style.color = color;
			  span.appendChild(document
				.createTextNode(part.value));
			  fragment.appendChild(span);
			});

			display.appendChild(fragment);
            }

        });



});


$('[data-toggle="popover"]').popover();


});

</script>

<script>

</script>

{% endblock %}
